spring:
  application:
    name: seen-user
  profiles:
    active: chixuehui
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
---
spring:
  config:
    activate:
      on-profile: chixuehui
    import: file:C:\Users\PC\IdeaProjects\seenings\seen-backend\middle\common-chixuehui.yml
server:
  port: 9109
---
spring:
  config:
    activate:
      on-profile: chixuehuidocker
    import: file:/deploy/chixuehuidocker/common-chixuehuidocker.yml
---
spring:
  config:
    activate:
      on-profile: prod
    import: file:./config/common-prod.yml
