spring:
  application:
    name: seen-service
  profiles:
    active: chixuehui
  sql:
    init:
      data-locations:
        - classpath*:sql/data/*.sql
      mode: always
      schema-locations:
        - classpath*:sql/schema/*.sql
---
spring:
  config:
    activate:
      on-profile: chixuehui
    import: file:C:\Users\PC\IdeaProjects\seenings/seen-backend/app/common-chixuehui.yml
server:
  port: 8081
---
spring:
  config:
    activate:
      on-profile: chixuehuidocker
    import: file:/deploy/chixuehuidocker/common-chixuehuidocker.yml
---
spring:
  config:
    activate:
      on-profile: prod
    import: file:./config/common-prod.yml